<!DOCTYPE html>
<html>
<head>
<title>Text Application</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- Bootstrap -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/app.css}" />
</head>
<body>
	<div class="container">
		<!-- Main hero unit for a primary marketing message or call to action -->
		<div class="hero-unit">
			<h1>Text Application</h1>
		</div>

		<form>
			<div class="row">
				<div class="col-md-3">
					<label for="textmsg">Enter Text:</label>
					<textarea class="form-control" rows="4" id="textmsg"
						data-bind="value:newTextMessage.textMessage"></textarea>
				</div>
				<div class="col-md-2">
					<label for="usr">Your City:</label> 
					<input type="text"
						class="form-control" id="usr"
						data-bind="value:newTextMessage.city" />
						
					<label for="province">Province:</label> 
					<select class="form-control" id="province" data-bind="options:provinces, value:newTextMessage.province"></select>

				</div>
				<div class="col-md-2">
					<label for="usr">User Name:</label> 
					<input type="text"
						class="form-control" id="usr"
						data-bind="value:newTextMessage.textUserName" />
						
					<div class="text-right button-wrap">		
						<button type="submit" class="btn btn-primary"
							data-bind="click:postMessage">Done</button>
					</div>
				</div>

			</div>
		</form>

		<div data-bind="visible:isServerMessageVisible">
			<strong>Message successfully sent!</strong>
			<p id="textEchoResponse" data-bind="text:serverMessage"></p>
		</div>


		<hr />
		<h4>All Submissions</h4>
		<!-- ko if : allPostsByUser().length > 0 -->
		<div class="row">
			<div class="col-md-8">
				<strong>Message:</strong>
			</div>
			<div class="col-md-4">
				<strong>User:</strong>
			</div>
		</div>		
		<!-- /ko -->
		<!-- ko foreach : allPostsByUser() -->
		<div class="row">
			<div class="col-md-8">
				<span data-bind="text:message.messageText"></span>
			</div>
			<div class="col-md-2">
				<span data-bind="text:message.userName"></span>
			</div>
			<div class="col-md-2">
				<div class="text-right">	
					<button type="button" class="btn btn-secondary" 
							data-toggle="modal"
							data-target="#replyModal" 
							data-bind="click:function($data){ $parent.replyTextMessage.replyToTextId($data.message.id) }"
							>Reply</button>
				</div>							
			</div>
		</div>
			<!-- ko if : replies.length > 0 -->
				<!-- ko foreach : replies -->

				<div class="row reply">
					<div class="col-md-8">
						<span data-bind="text:messageText"></span>
					</div>
					<div class="col-md-4">
						<span data-bind="text:userName"></span>
					</div>
				</div>					

				<!-- /ko -->
			<!-- /ko -->
			<hr />
		<!-- /ko -->



	</div>

	<!-- Reply Modal -->
	<div class="modal fade" id="replyModal" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Reply - <!--  ko text : replyTextMessage.replyToTextId() --><!-- /ko --></h4>
				</div>
				<div class="modal-body">
					<form>
						<div class="row">
							<div class="col-md-8">
								<label for="textmsg">Enter Text:</label>
								<textarea class="form-control" rows="3" id="textmsg"
									data-bind="value:replyTextMessage.textMessage"></textarea>
							</div>
							<div class="col-md-4">
								<label for="usr">User Name:</label> 
								<input type="text"
									class="form-control" id="usr"
									data-bind="value:replyTextMessage.textUserName" />
			
							</div>
						</div>
					</form>					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" 
							class="btn btn-primary" 
							data-bind="click:function(){ postReplyMessage()}"
							data-dismiss="modal"
							>Reply</button>
							
				</div>
			</div>

		</div>
	</div>

	<script th:src="@{/js/jquery-3.1.0.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/knockout-3.4.0.js}"></script>
	<script th:src="@{/js/httpRequests.js}"></script>
	<script th:src="@{/js/textViewModel.js}"></script>
	<script th:src="@{/js/app.js}"></script>

</body>
</html>