<!DOCTYPE html>
<html>
<head>
<title>Text Application</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- Bootstrap -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<!-- Main hero unit for a primary marketing message or call to action -->
		<div class="hero-unit">
			<h1>Text Application</h1>
		</div>
		<form>
			<div class="form-group">

				<label for="textmsg">Enter Text:</label>
				<textarea class="form-control" rows="5" id="textmsg"></textarea>

			</div>
			<button type="submit" class="btn btn-default">Done</button>
		</form>

		<hr />
		
		<p id="textEchoResponse" ></p>

	</div>
</body>
</html>